.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
test.py
/codes
tasks
pseudocodes.bbl
pseudocodes.blg
pseudocodes.aux
pseudocodes.log
pseudocodes.synctex.gz
pseudocodes.out
pseudocodes.toc

pseudocodes_en.bbl
pseudocodes_en.blg
pseudocodes_en.aux
pseudocodes_en.log
pseudocodes_en.synctex.gz
pseudocodes_en.out
pseudocodes_en.toc