# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug
*.tlog
*.idb
*.pdb
*.log
*.suo
*.db
*.ipch
*.opendb
*.enc
*.ilk

# Project
.idea

.vscode
.vscode/settings.json
LintCode/ac
LintCode/ac.dSYM/*

.vscode/launch.json
LeetCode/ac
.vscode/tasks.json
LeetCode/ac.dSYM/*

package.json
package-lock.json
node_modules/*

.DS_Store

venv/

__pycache__/

test.py